/* Formateo de página */
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Añadir un fondo de imagen a los formularios, la imagen está en \img\fondo_valle_colchagua.jpg*/

.contenedor-form{
    background-color: #AEC670;
    margin-top: 15%;
    width: 800px;
    padding: 30px;
}
.contenedor-form-distrb{
    background-color: #AEC670;
    margin: auto;
    width: 800px;
    padding: 30px;
}

/*Aqui se controla el diseño de los errores arrojados por el Validate*/
label.error{
    color: darkred;
}

/*Diseño de los inputs, labels y botones de formularios*/
/*Diseño general*/
.form-control{
    width: 500px;
    margin-bottom: 15px;
}

/*Login de usuarios*/
.form-login h4{
    color: black;
}

/*Formulario de registro de usuarios*/
.form-register h1{
    color: black;
}

/*Formulario de registro de distribuidores*/
